.wrap_video_testi
  width: 100%
  video
    width: 100%

.titulo_nivel_edu
  text-align: center
  font-size: 30px
  font-family: avenirBold
  color: $gris

.icono_nivel
  text-align: center
  img
    width: 80%
    max-width: 350px

.descrip_nivel
  background: $naranja
  padding: 10ppx 0
  text-align: center

.wrap_descripcion
  text-align: justify